
{% import "trackmacro.twig" as trackm %}
{% extends 'base.twig' %}
{% block content %}
	<div class="row txt-white bg-primary" style="height:400px;">
		<div class="container-fluid" style="padding-top:100px">
			<div class="col-xs-12">
				<h1>Play your part, jam in your style.</h1>
				<p>Lorem ipsum dolor sit amet</p>
				<a href="/register" class="btn btn-secondary">Join</a> or <a href="/search" class="secondary">explore what jamming can create!</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container-fluid pad-section-lg">
			<div class="row">
				<div class="col-xs-4 txt-center">
						<img src="img/1.svg" class="img-responsive img-center howto">
						<h3>Explore</h3>
						<p>BlahBlah BlahBlahBlah BlahBlahBlahBlah BlahBlah.</p>
					</div>
					<div class="col-xs-4 txt-center">
						<img src="img/2.svg" class="img-responsive img-center howto">
						<h3>Jam</h3>
						<p>BlahBlah BlahBlahBlah BlahBlahBlahBlah BlahBlah.</p>
					</div>
					<div class="col-xs-4 txt-center">
						<img src="img/3.svg" class="img-responsive img-center howto">
						<h3>Joy</h3>
						<p>BlahBlah BlahBlahBlah BlahBlahBlahBlah BlahBlah.</p>
					</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<h2>Trending Jams</h2>
					{% for track in tracks %}
					{{trackm.display_track(track)}}
					{% endfor %}

					<div class="txt-center">
						<br>
						<br>
						<a href="/search" class="btn btn-primary">explore for more</a>
					</div>
				</div>
				<div class="col-sm-4">
					<h4>Instrument</h4>
					<a href="/search?instrument=Bass" class="label label-primary">Bass</a>
					<a href="/search?instrument=Guitar" class="label label-primary">Guitar</a>
					<a href="/search?instrument=Drum" class="label label-primary">Drum</a>
					<a href="/search?instrument=Vocal" class="label label-primary">Vocal</a>
					<a href="/search?instrument=Synth" class="label label-primary">Synth</a>
					<a href="/search?instrument=Other" class="label label-primary">Other</a>
					<h4>Search</h4>
					<form action="" method="GET" class="form form-inline">
						<input type="search" name="q" value="{{search}}" class="form-control">
						<input type="submit" class="btn btn-primary" value="Search">
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 txt-center">
					<h2>Jam with over {{users_count}} musicians across the world.</h2>
					{% for user in users %}
					<a href="/u/{{user.id}}" class="mockup-avt-sm" style="background-image: url({{user.gravatar()}}); background-size: contain;"></a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row txt-white bg-primary" style="margin-top:90px; padding-top:40px; padding-bottom:80px;">
		<div class="container-fluid pad-section-lg">
			<div class="row">
				<div class="col-xs-12 txt-center">
					<h2>Some advertising word. I don't know what to write.</h2>
					<p>Just some placeholder, don't read me.</p>
					<a href="/register" class="btn btn-secondary">Sign up now</a>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
