
{% import "trackmacro.twig" as trackm %}
{% extends 'base.twig' %}
{% block content %}
	<div class="row">
		<div class="container-fluid pad-section-lg-ni">
			<div class="row">
				<div class="col-sm-8">
					<h1>Jams from musicians you follow</h1>
					{% for track in tracks %}
					{{trackm.display_track(track)}}
					{% endfor %}
				</div>
				<div class="col-sm-4 hidden-xs">
					<div class="txt-center">
						<a href="/u/{{auth_user().id}}" class="txt-center">
							<div class="mockup-avt-sm" style="width:150px; height:150px; background-image:url({{auth_user().gravatar()}}); background-size:contain;"></div>
							<br><b>{{auth_user().display_name}}</b>
						</a>
					</div>
					<h2>Explore</h2>
					<h4>Styles</h4>
					<span class="label label-primary">Rock</span>
					<span class="label label-primary">Pop</span>
					<span class="label label-primary">Indie</span>
					<span class="label label-primary">Thai</span>
					<span class="label label-primary">Classical</span>
					<span class="label label-primary">Hip-hop</span>
					<span class="label label-primary">Electronic</span>
					<span class="label label-primary">Dubstep</span>
					<h4>Instrument</h4>
					<a href="/search?instrument=Bass" class="label label-primary">Bass</a>
					<a href="/search?instrument=Guitar" class="label label-primary">Guitar</a>
					<a href="/search?instrument=Drum" class="label label-primary">Drum</a>
					<a href="/search?instrument=Vocal" class="label label-primary">Vocal</a>
					<a href="/search?instrument=Synth" class="label label-primary">Synth</a>
					<a href="/search?instrument=Other" class="label label-primary">Other</a>
					<h4>Search</h4>
					<form action="/search" method="GET" class="form form-inline">
						<input type="search" name="q" value="{{search}}" class="form-control">
						<input type="submit" class="btn btn-primary" value="Search">
					</form>

					<h2>Trending Jams</h2>
					{% for track in tracks|slice(0,3) %}
					{{trackm.display_track(track)}}
					{% endfor %}
					<div class="txt-center" style="margin-top:10px; margin-bottom:10px">
						<a href="" class="btn btn-primary">see more &raquo;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="height:40px"></div>
{% endblock %}
