{% extends 'base.twig' %}

{% block title %}{{track.name}}{% endblock %}

{% block content %}
	<div class="container pad-section-lg record-page">
		<div class="row">
			<div class="col-sm-12">
				<h1>{% if jam %}
Jamming {{model.name}}
{% else %}
Upload track
{% endif %}</h1>
				<div class="txt-center">
					<br>
					<img class="img-responsive img-center img-hover hidden-xs" src="/img/rec.svg" style="width:200px">
					<img class="img-responsive img-center img-hover visible-xs" src="/img/rec.svg" style="width:150px">
					<br><br>
					<img class="img-responsive soundwave" src="/img/sound.svg" style="width:100%">

					<b>By</b>
					<div class="mockup-avt-sm" style="vertical-align:middle; background-image: url({{track.user().first().gravatar()}}); background-size: contain;"></div>
					{% if track.parents.count > 0 %}
					from
					{% for item in track.parents %}
					<div class="mockup-avt-xs" style="vertical-align:middle; background-image: url({{item.user().first().gravatar()}}); background-size: contain;"></div>
					{% endfor %}
					's <a href="/t/{{track.parents().first().id}}">JAM.</a>
					{% endif %}
					<br><br>
					<a href="{% if track %}/t/{{track.id}}/mix{%else%}/track/mix{%endif%}" class="btn btn-primary">Next Step</a>
					<br><br>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
	var tracks = [
		{% for item in track.parents %}
		[{{item.file|json_encode|raw}}, {{item.shift|json_encode|raw}}],
		{% endfor %}
		[{{track.file|json_encode|raw}}, {{track.shift|json_encode|raw}}],
	];
	var show_data = false;
	</script>
	<script src="/js/player.js"></script>
{% endblock %}
