{% extends "base" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-6 col-md-offset-3" style="margin-top: 80px;">
		<h1>Register</h1><br>

		{% if session_get('error') %}
		<div class="alert alert-danger">{{session_get('error')}}</div>
		{% endif %}

		{% if session_get('message') %}
		<div class="alert alert-success">{{session_get('message')}}</div>
		{% endif %}

		{{BootstrapForm.open()|raw}}
		{{BootstrapForm.email('email', 'E-Mail')|raw}}
		{{BootstrapForm.password()|raw}}
		{{BootstrapForm.password('password_confirmation', 'Password (again)')|raw}}
		<div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      {{BootstrapForm.submit('Register')|raw}}
		    </div>
		  </div>
		{{BootstrapForm.close()|raw}}
	</div>
</div>
{% endblock %}