<div style="width:100%; display:inline-block; margin: 10px 0;">
	<h1>{{track.name}}</h1>
	<div class="sound hidden-xs" style="margin-top:-10px; white-space:nowrap">
		<div class="play" data-player="{{track.get_player_data()|json_encode}}"></div>
		<!-- <img src="/img/play.svg" style="vertical-align:center; width:auto; height:100px;"> -->
		<img src="/img/sound.svg" style="vertical-align:center; width:90%;">
	</div>
	<div class="sound visible-xs txt-center" style="margin-top:-10px; white-space:nowrap">
		<div class="play" data-player="{{track.get_player_data()|json_encode}}"></div>
		<!-- <img src="/img/play.svg" style="vertical-align:center; width:auto; height:100px;"> -->
		<br>
		<img src="/img/sound.svg" style="vertical-align:center; width:100%;">
	</div>
	<div class="txt-right hidden-xs" style="margin-top:-30px">
		{% if track.permission == 0 %}
		<a href="/t/{{track.id}}/jam" class="btn btn-secondary btn-lg">JAM</a>
		{% endif %}
		{% if track.user == auth_user().id %}
		<!--<a href="/t/{{track.id}}/edit" class="btn btn-secondary pull-right" style="margin-left: 10px;">Edit</a>-->
		{% endif %}
	</div>
	<div class="txt-center visible-xs">
		{% if track.permission == 0 %}
		<a href="/t/{{track.id}}/jam" class="btn btn-secondary btn-lg">JAM</a>
		{% endif %}
		{% if track.user == auth_user().id %}
		<!--<a href="/t/{{track.id}}/edit" class="btn btn-secondary pull-right" style="margin-left: 10px;">Edit</a>-->
		{% endif %}
		<br>
		<br>
	</div>
	<div class="soundinfo txt-center" style="vertical-align:middle">
		<b>By</b>
		<div class="mockup-avt-sm" style="vertical-align:middle; background-image: url({{track.user().first().gravatar()}}); background-size: contain;"></div>
		{% if track.parents.count > 0 %}
		from
		{% for item in track.parents %}
		<div class="mockup-avt-xs" style="vertical-align:middle; background-image: url({{item.user().first().gravatar()}}); background-size: contain;"></div>
		{% endfor %}
		's <a href="/t/{{track.parents().first().id}}">JAM.</a>
		{% endif %}
	</div>
	<br><br>
	<p>{{track.description}}</p>
	<span class="glyphicon glyphicon-heart"></span> 12 &nbsp;&nbsp;
	<span class="glyphicon glyphicon-comment"></span> 12 &nbsp;&nbsp;
	<span class="glyphicon glyphicon-plus"></span>12 &nbsp;&nbsp;
	</div>


					<!-- <div class="musician">
					<h2>Musicians</h2>
					{% for item in track.parents %}
					<div class="list clearfix">
						<img src="" alt="" class="img-thumbnail pull-left">
						<p>{{item.user().first().display_name}}</p>
					</div>
					{% endfor %} -->
					