{% extends 'base.twig' %}

{% block title %}{{track.name}}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="title">{{track.name}}</h1>
				<div class="track">
					<div class="player">
						<p id="player"></p>
						<a href="#" id="play">play</a>
						<a href="#" id="stop">stop</a>
					</div>
					<div class="social clearfix">
						<button type="button" class="btn btn-default btn-xs like pull-left">Like!</button>
						<button type="button" class="btn btn-default btn-xs share pull-left">Share!</button>
						<button type="button" class="btn btn-default btn-xs subscribe pull-left">Subscribe!</button>
						{% if track.permission == 0 %}
						<a href="/t/{{track.id}}/jam" class="btn btn-default jam pull-right">JAM</a>
						{% endif %}
						{% if track.user == auth_user().id %}
						<a href="/t/{{track.id}}/edit" class="btn btn-default pull-right">Edit</a>
						{% endif %}
					</div>
					<div class="description">
						<p>{{track.description}}</p>
					</div>
				</div>

				<div class="history">
					<h2>History</h2>
					{% for item in track.parents %}
					<a href="/t/{{item.id}}">{{item.name}}</a>
					<div class="list clearfix">
						<div class="player col-sm-4">
						</div>
						<div class="people col-sm-4">
							{% for grandfather in item.parents %}
							{{grandfather.user().first().display_name}},
							{% endfor %}
							{{item.user().first().display_name}}
						</div>
						<div class="button-container col-sm-4">
							<a href="/t/{{item.id}}/jam" class="btn btn-default btn-xs">JAM</a>
						</div>
					</div>
					{% endfor %}
				</div>

				<div class="comment">
					<h2>Comment</h2>
					<div class="list clearfix">
						<img src="" alt="">
						<p>Comment 1</p>
					</div>
					<div class="list clearfix">
						<img src="" alt="">
						<p>Comment 2</p>
					</div>
					<div class="list clearfix">
						<img src="" alt="">
						<p>Comment 3</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="musician">
					<h2>Musicians</h2>
					{% for item in track.parents %}
					<div class="list clearfix">
						<img src="" alt="" class="img-thumbnail pull-left">
						<p>{{item.user().first().display_name}}</p>
					</div>
					{% endfor %}
					<div class="list clearfix">
						<img src="" alt="" class="img-thumbnail pull-left">
						<p>{{track.user().first().display_name}}</p>
					</div>
				</div>

				<div class="relate">
					<h2>Related</h2>
					<div class="player">player1</div>
					<div class="player">player2</div>
					<div class="player">player3</div>
					<div class="player">player4</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
	var tracks = [
		{% for item in track.parents %}
		[{{item.file|json_encode|raw}}, {{item.shift|json_encode|raw}}],
		{% endfor %}
		[{{track.file|json_encode|raw}}, {{track.shift|json_encode|raw}}],
	];
	var show_data = false;
	</script>
	<script src="/js/player.js"></script>
{% endblock %}